{% extends "dead-js-utilities/tests/basic/base.html" %}

{% block TEST_BODY_CONTENT %}
    {% with test_base_prefix="dead-test-item" %}
        <div class="table-responsive">
            <table class="table table-bordered table-striped" id="basic-ajax-table">
                <thead>
                    <tr>
                        <th>Function</th>
                        <th>Description</th>
                        <th>Example</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    {% endwith %}
{% endblock %}

{% block JS_BOTTOM %}
    <script type="application/javascript">
        {% with test_base_prefix="dead-test-item" %}
            var TEST_BASE_PREFIX = "{{ test_base_prefix }}";
            var AJAX_URL = "{% url 'dead-js-utilities:tests-basic-ajax' %}";

            {% include "dead-js-utilities/tests/basic/normal/components/clean/test.js" %}
            {% include "dead-js-utilities/tests/basic/normal/components/no-link/test.js" %}
            {% include "dead-js-utilities/tests/basic/normal/components/delete-link/test.js" %}
            {% include "dead-js-utilities/tests/basic/normal/components/container/test.js" %}
            {% include "dead-js-utilities/tests/basic/normal/components/uuid/test.js" %}
            {% include "dead-js-utilities/tests/basic/normal/components/swap-divs/test.js" %}
        {% endwith %}

        $(document).ready(function () {
            $.get(
                AJAX_URL,
                function(data){
                    $("#basic-ajax-table tbody").html(data.html);
                }
            );
        });
    </script>
{% endblock %}