{% extends "dar-js-utilities/tests/home.html" %}

{% block dead_JS_UTILITIES_TESTS_BODY %}
    <div class="text-right">
        <div class="btn-group" role="group" aria-label="...">
            <button type="button" class="btn btn-success dar-refresh">
                Recargar
            </button>

            <a href="{% url 'dar-js-utilities:tests' %}" class="btn btn-primary">
                Regresar
            </a>
        </div>
    </div>

    <h1>Basic</h1>

    {% include "dar-js-utilities/tests/basic/navbar.html" %}

    {% block dead_JS_UTILITIES_TESTS_BODY_CONTENT %}{% endblock %}
{% endblock %}
