{% extends "dead-js-utilities/tests/basic/base.html" %}

{% block TEST_BODY_CONTENT %}
    <h3 class="text-info">Fecha actual</h3>
    <div class="table-responsive">
        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>Formato</th>
                    <th>Valor</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>YYYY-MM-DD HH:MM:SS</td>
                    <td id="fecha-actual-1"></td>
                </tr>
                <tr>
                    <td>D de MMMM de YYYY</td>
                    <td id="fecha-actual-2"></td>
                </tr>
                <tr>
                    <td>dddd D de MMMM de YYYY</td>
                    <td id="fecha-actual-3"></td>
                </tr>
                <tr>
                    <td>YYYY-MM-DD</td>
                    <td id="fecha-actual-4"></td>
                </tr>
            </tbody>
        </table>
    </div>

    <h3 class="text-info">Fecha específica</h3>
    <div class="table-responsive">
        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>Formato</th>
                    <th>Valor</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Nacimiento</td>
                    <td id="fecha-nacimiento"></td>
                </tr>
                <tr>
                    <td>Cumpleaños</td>
                    <td id="fecha-cumpleanos"></td>
                </tr>
                <tr>
                    <td>Semana del año</td>
                    <td id="semana-ano"></td>
                </tr>
                <tr>
                    <td>Días del mes</td>
                    <td id="dias-mes"></td>
                </tr>
                <tr>
                    <td>Días de la semana</td>
                    <td id="dias-semana"></td>
                </tr>
            </tbody>
        </table>
    </div>
{% endblock %}

{% block JS_BOTTOM %}
    <script type="application/javascript">
        {% include "dead-js-utilities/tests/basic/moment/base.js" %}

        $(document).ready(function () {
           dead_js_utilities_tests.init();
        });
    </script>
{% endblock %}