{% extends "dead-js-utilities/tests/basic/base.html" %}

{% block TEST_BODY_CONTENT %}
    {% with test_base_prefix="dead-test-item" %}
        <div class="table-responsive">
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>Function</th>
                        <th>Description</th>
                        <th>Example</th>
                    </tr>
                </thead>
                <tbody>
                    {% include "dead-js-utilities/tests/basic/normal/components/clean/test.html" %}
                    {% include "dead-js-utilities/tests/basic/normal/components/no-link/test.html" %}
                    {% include "dead-js-utilities/tests/basic/normal/components/delete-link/test.html" %}
                    {% include "dead-js-utilities/tests/basic/normal/components/container/test.html" %}
                </tbody>
            </table>
        </div>
    {% endwith %}
{% endblock %}

{% block JS_BOTTOM %}
    <script type="application/javascript">
        {% with test_base_prefix="dead-test-item" %}
            var TEST_BASE_PREFIX = "{{ test_base_prefix }}";

            {% include "dead-js-utilities/tests/basic/normal/components/clean/test.js" %}
            {% include "dead-js-utilities/tests/basic/normal/components/no-link/test.js" %}
            {% include "dead-js-utilities/tests/basic/normal/components/delete-link/test.js" %}
            {% include "dead-js-utilities/tests/basic/normal/components/container/test.js" %}
        {% endwith %}
    </script>
{% endblock %}