{% extends "dead-js-utilities/tests/basic/base.html" %}

{% block TEST_BODY_CONTENT %}
    <div class="table-responsive">
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Function</th>
                    <th>Description</th>
                    <th>Example</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>keys</td>
                    <td>Get stored keys</td>
                    <td id="show-keys">
                    </td>
                </tr>
                <tr>
                    <td>set</td>
                    <td>Set key, value</td>
                    <td>
                        <form id="dar-js-utilities-form-storage-set" class="no-submit">
                            <label>Key</label>
                            <input type="text" class="form-control" id="dar-js-utilities-form-storage-set-control-1">
                            <br>
                            <label>Value</label>
                            <input type="text" class="form-control" id="dar-js-utilities-form-storage-set-control-2">
                            <br>
                            <div class="text-right">
                                <button class="btn btn-info" type="submit">Save</button>
                            </div>
                        </form>
                    </td>
                </tr>
                <tr>
                    <td>get</td>
                    <td>Get key, value</td>
                    <td>
                        <form id="dar-js-utilities-form-storage-get" class="no-submit">
                            <label>Key</label>
                            <input type="text" class="form-control" id="dar-js-utilities-form-storage-get-control-1">
                            <br>
                            <label>Value</label>
                            <input type="text" disabled="disabled" class="form-control" id="dar-js-utilities-form-storage-get-control-2">
                            <br>
                            <div class="text-right">
                                <button class="btn btn-info" type="submit">Get</button>
                            </div>
                        </form>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
{% endblock %}

{% block JS_BOTTOM %}
    <script type="application/javascript">
        {% include "dead-js-utilities/tests/basic/storage/base.js" %}

        $(document).ready(function () {
            dead_js_utilities_tests_storage.init();
        });
    </script>
{% endblock %}